<table >
    <thead>
      <tr>
          <th>Nome</th>
          <th>Veículo</th>
          <th>Tipo</th>
          <th>Reputação</th>
          <th>Distancia</th>
          <th>Numero</th>

      </tr>
    </thead>

    <tbody *ngFor="let fretista of Fretistas" >
        <tr>
          <td>{{fretista.nome}}</td>
          <td>Saveiro</td>
          <td>Médio Porte</td>
          <td>5 ESTRELAS</td>
          <td>2km</td>
          <td>(84) 9.8855-5588</td>
  
  
        </tr>
  
      </tbody>

   
  </table>
