
<div class="col s12 m6">
    <div class="card blue darken-3">
      <div class="card-content white-text">
        <span class="card-title">CADASTRAR</span>
      </div>
      <div class="card-action">
        <a href="#">Procurar Fretista</a>
      </div>

      </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue darken-3">
          <div class="card-content white-text">
            <span class="card-title">ENTRAR</span>
          </div>
          <div class="card-action">
            <a href="#">Procurar Fretista</a>
          </div>

          </div>
        </div>